/* @import "./reset.css"; */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

:root {
  /* Nord Color Theme */
  /* Polar Night -> Background */
  --NordBackground: #2e3440; /* Default  dark background */
  --NordSecondBG: #3b4252; /* Comments, shadows and inconspicuous details */
  --NordThirdBG: #434c5e; /* Colorize the current active text and/or line */
  --NordFourthBG: #4c566a; /* Markings on the screen and not so relevant details */

  /* SnowStorm -> Text colors and Base UI */
  --NordSnowStorm: #d8dee9; /* UI elements */
  --NordSecondSnowStorm: #e5e9f0; /* State animations */
  --NordThirdSnowStorm: #eceff4; /* Important details and text */

  /* Frost -> Primary UI Components and Text Highlight */
  --NordFrost: #8fbcbb; /* More important stuff */
  --NordSecondFrost: #88c0d0; /* Primary UI Elements */
  --NordThirdFrost: #81a1c1; /* Secondary UI Elements */
  --NordFourthFrost: #5e81ac; /* Tertiary UI Elements */

  /* Aurora -> Details, explanations on each item */

  --NordRed: #bf616a; /* Render errors */
  --NordOrange: #d08770; /* Render dangerous stuff */
  --NordYellow: #ebcb8b; /* Render warnings */
  --NordGreen: #a3be8c; /* Render success */
  --NordLilac: #b48ead; /* Render uncommon stuff */

  --titleFont: 'EB Garamond', serif;
  --defaultFont: 'Inconsolata', monospace;
  --testFont: 'Ephesis', handwritten;

  font-size: 16px;
  font-family: var(--defaultFont);
}
