@import '../../styles/variables.css';

.tg {
  border-collapse:collapse;
  border-color:#ccc;
  border-spacing:0;
  display: block;
}
.tg td{
  background-color:#fff;
  border-color:#ccc;
  border-style:solid;
  border-width:1px;
  color:#333;
   font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}
.tg th{
  background-color:#f0f0f0;
  border-color:#ccc;
  border-style:solid;
  border-width:1px;
  color:#333;
   font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tg .tg-buh4{
  background-color:#f9f9f9;
  text-align:left;
  vertical-align:top
}
.tg .tg-btxf{
  background-color:#f9f9f9;
  border-color:inherit;
  text-align:left;
  vertical-align:top
}

.orgao {
  width: 15%;
}

.mes {
  width: 10%;
}
.evento {
  width: 10%
}
.empenho {
  width: 10%
}
.idFornecedor {
  width: 15%;
}
.nmFornecedor {
  width: 15%;
}
.dataEmissao {
  width: 5%;
}
.valor {
  width: 10%;
}
.download {
  width: 10%;
}