@import '../../styles/variables.css';

.GridWrapper {
  display: grid;
  justify-items: center;
}

.Inputs {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  gap: 10px;
}

.Button {
  display: grid;
  justify-items: center;
  margin-top: 10px;
}

.tg {
  border-collapse:collapse;
  border-color:#4C566A;
  border-spacing:0;
}
.tg td{
  background-color:#2E3440;
  border-color:#4C566A;
  border-style:solid;
  border-width:1px;
  color:#ECEFF4;
   font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}
.tg th{
  background-color:#2E3440;
  border-color:#4C566A;
  border-style:solid;
  border-width:1px;
  color:#ECEFF4;
   font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}
.tg .tg-0pky{
  border-color:inherit;
  text-align:left;
  vertical-align:top
}
.tg .tg-btxf{
  background-color:#2E3440;
  border-color:inherit;
  text-align:left;
  vertical-align:top
}

.inputForm, .selectForm {
  margin: 3px;
  padding: 2px;
}